* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #f3e0e8;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(250, 212, 212, 0.8); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    animation: fadeIn 3s ease forwards;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative; 
}
nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 100%;
    height: 5px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover::before {
    background-color: #27ae60; 
}
.detel {
    margin-top: 100px; 
    margin-left: 8%;
}

.detel h1 {
    font-size: 3rem;
    color: #2980b9;
    margin-bottom: 20px;
    animation: fadeIn 1s ease forwards; 
}

.detel h1 span {
    color: #f39c12;
    animation: fadeIn 3s ease forwards;
}
.detel p {
    color: #131111;
    line-height: 1.6;
    max-width: 600px;
    margin: 10px 0; 
    animation: fadeIn 1s ease forwards;
}
.detel a {
    background: #27ae60;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 25px;
    transition: background 0.3s ease;
    display: inline-block;
    margin-top: 20px; 
    animation: fadeIn 1s ease forwards;
}
.lele{
    animation: fadeIn 2s ease forwards;
}
.detel a:hover {
    background: #2ecc71;
}
.images {
    width: 30%;
    position: absolute;
    bottom: 300px;
    right: 150px;
    transform: translateY(50%);
}
.images img.shape {
    position: absolute;
    bottom: 20px;
    right: 40%;
    transform: translateX(50%);
    transition: bottom 0.5s ease;
}
.images:hover img.shape {
    bottom: 40px;
}
.contact-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-icons a {
    margin-left: 20px;
    transition: transform 0.3s ease;
}
.contact-icons a:hover {
    transform: translateY(-3px);
}
.lets-talk-button {
    position: fixed;
    top: 140px;
    right: 20px;
    background: #27ae60;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 25px;
    transition: background 0.3s ease;
}
.lets-talk-button:hover {
    background: #2ecc71;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
